[PCI]
LaserMode=2
FirstPulseKillerLength=100
PrePulseKillerDelay=80

[ENV]
RS232=1
COMPORT=1
LASER_RS232_CONTROL=1
MaxPower=100
Correction File=correct.cor
Variable Polygon=1
MinFrequency=1
MaxFrequency=1000.0
MinPower=0.0


[LRS232]
;9600
BAUD=6
PARITY=0
LASER_TYPE=19
POWER_SUP=1
FREQ_SUP=1
PULSEBURST_SUP=1
POWER_SCALE=1000
FREQ_SCALE=1000
;Burst Number: 1 - 5
;PARAM0=1
;Start Mode: 0 On & Off; 1 On; 2 none
PARAM1=0
;Power Mode: 0 Percent; 1 Analog
PARAM2=0
;Ext Power Ctrl
PARAM3=0
;Volt Power: 0 - 5V (unit 0.001)
;PARAM4=5000
;Volt Power Enable
;PARAM5=1
