[PCI]
LaserMode=1

MR=14
PR=15
ME=16

[SCAN LOG]
ENABLE=1
LOG TYPE=1
OUTPUT FILE=logData.txt

[ENV]
;DEBUG_LOGFILE=1
;DEBUG_PATHLOGFILE=1
FLY REF MODE=1
FLY REF AXIS X=1
FLY REF AXIS Y=2
MaxPower=100.0
MinFrequency=0.1
MaxFrequency=100.0
Correction File=correct.cor
Variable Polygon=1
MinPower=0.0
MaxSpeed=6000.0
MinSpeed=0.5
Calibration factor K=936.0
Automation=0
EndDelay=0
Shutter_Out=0
Lamp_Out=0
Align_Out=0
SCAN_TIME_STEP=0
PowerDelay=0
Correction File Ex=Cor_1to1.cor2
Power Correction File=Cor_1to1.pcor
3D_SUP=1
3DZF_SUP=1
MultiCard=0
MultiDownload=0
MultiSYNOut=0
MultiSYNIn1=0
MultiSYNIn2=0
MultiSYNIn3=0
MultiSYNIn4=0
Mark On Fly=0

[STAND-BY]
Period Time=200
Pulse Width=1

[ENCODER]
ENCODER_SPEED_COMP=1
[3D]
3D_Z_OFFSET_5=-32768
Z_JUMP_SPEED_5=983025
Z_JUMP_DELAY_5=800
3D_Z_OFFSET_0=-32768
Z_JUMP_SPEED_0=983025
Z_JUMP_DELAY_0=800
3D_Z_OFFSET_7=-524288
Z_JUMP_SPEED_7=983025
Z_JUMP_DELAY_7=800
3D_Z_OFFSET_9=-32768
Z_JUMP_SPEED_9=983025
Z_JUMP_DELAY_9=800
3D_Z_OFFSET_8=-32768
Z_JUMP_SPEED_8=983025
Z_JUMP_DELAY_8=800
3D_Z_OFFSET_10=-32768
Z_JUMP_SPEED_10=983025
Z_JUMP_DELAY_10=800
3D_Z_OFFSET_1=-32768
Z_JUMP_SPEED_1=983025
Z_JUMP_DELAY_1=800
