// Multiwave Fiber Laser
[PCI]
// LaserMode = (1:CO2 , 2:YAG1 , 3:YAG2 , 4:YAG3 , 5:R05)
LaserMode=2
MR=14
PR=15
ME=16
[ENV]
Calibration factor K=655
Correction File=correct.cor
MaxPower=100
MinFrequency=0.00
MaxFrequency=500.00

Multiwave Fiber Laser=1

EndDelay=0.00
Shutter_Out=0
Lamp_Out=0
Align_Out=0
Automation=0
Variable Polygon=0
Mark On Fly=0

External Start=0
Get Object Info=0
Recycle=0
Recycle Delay=0.00
Lock Start Signal=0
FPS=10

[MULTIWAVE]
Internal Mode=1
Profile=7
Pulse Equal=25.0

Profile Bit0=111
Profile Bit1=112
Profile Bit2=113
LaserEnable Out=115
TrigMode Out=116

WarningAlarm In=15
CriticalAlarm In=16

[STAND-BY]
Period Time=0
Pulse Width=0

[SOFTSTART]
Enable SoftStart=0
Level-1=100
Level-2=100
Level-3=100
Level-4=100
Level-5=100
Level-6=100
Level-7=100
Level-8=100
Level-9=100
Level-10=100
Level-11=100
Level-12=100
Level-13=100
Level-14=100
Level-15=100
Level-16=100




[POWER]
Enable=0
Power Step=5.0
Warm Up Power=70.0
Warm Up Delay=1.000
Warm Up Keep Time=2.000
Idle Power=20.0
Idle Delay=1.000
Mark Ready Power=50.0
Mark Ready Delay=1.000
Power On Delay=0.300
Power On Waiting=0.000
Mark End Power=-1.000
Mark End Delay=0.000

# Multiwave control line
# Internal(HIGH)/External(LOW) Trigger Mode (Pin-1) : JF7 (Pin-16)
# Laser Emission Enable(HIGH)/Disable(LOW) (Pin-13) : JF7 (pin-15)
# External Trigger (Pin-15) : P2 (Pin-4) -- Laser PWM signal
# Pulse Equalization (Pin-21) : P2 (Pin-2) -- AO2
# Average Optical Power (Pin-29) : P2 (Pin-1) -- AO1
# Pulse Gating On(HIGH)/Off(LOW) (Pin-36) : P2 (Pin-6)  -- Laser On/Off signal
# Warning Alarm active(HIGH) (Pin-42) : JF6 (Pin-15)
# Critical Alarm active(HIGH) (Pin-44) : JF6 (Pin-16)
# Pulse Profile Select Bit-2 (Pin-56) : JF7 (Pin-13)
# Pulse Profile Select Bit-1 (Pin-58) : JF7 (Pin-12)
# Pulse Profile Select Bit-0 (Pin-60) : JF7 (Pin-11)
# Ground (Pin-68)